
syntax: glob

*.class
*.orig
*.bak
*.eml
*~
build/
generated_css/
generated_js/

javadoc/

.idea/workspace.xml
.idea/runConfigurations/*
.idea/inspectionProfiles/JS___Unterminated_statement.xml
.idea/inspectionProfiles/Remove_unnecessary_semicolons.xml
.idea/dictionaries

out/production

*-local.xml
.DS_Store
.sass-cache/*
Thumbs.db

*libraries.xlsx

scripts/*/bin/*
scripts/*/.settings/*

*-junit-test*.log

exercises/*
bin/.project

.hprof

*.css.map
*.js.map

packaging/target
packaging/build-custom.properties
webapp/src/main/webapp/WEB-INF/classes
webapp/src/main/webapp/WEB-INF/lib
packaging/development-workspaces
packaging/TEST-*.xml
jshint-all-*.txt
**/config/*.jks
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/dataSources.xml

npm-debug.log
out

# see .gitattributes
/CHANGELOG.md
