<de-cf-homework-matrix data-state="$state$" class="de-cf-workshop-style">
    <table style="width: 100%">
        <tr>
            <th></th>
            <th ng-repeat="department in matrixCtrl.departments">{{department.name}}</th>
        </tr>
        <tr ng-repeat="employee in matrixCtrl.employees track by employee.id">
            <td>{{employee.firstName}}{{employee.lastName}}</td>
            <td ng-repeat="department in matrixCtrl.departments">

                <i ng-show="matrixCtrl.isEmployeeInDepartment(employee,department.name)" class="fa fa-check-square-o"></i>
            </td>
        </tr>
    </table>

</de-cf-homework-matrix>


