<link rel="stylesheet" type="text/css" href="$assetsPluginUrlPrefix()$/generated_css/plugin.css"/>

<de-cf-homework-matrix data-state="$state$" class="de-cf-workshop-style">
    <table style="width: 100%">
        <tr>
            <th></th>
            <th ng-repeat="department in matrixCtrl.departments"><a href="{{department.url}}">{{department.name}}</a></th>
        </tr>
        <tr ng-repeat="employee in matrixCtrl.employees track by employee.id">
            <td><a href="{{employee.url}}" >{{employee.firstName}} {{employee.lastName}}</a></td>
            <td ng-repeat="department in matrixCtrl.departments" ng-click="matrixCtrl.updateEmployee(employee,department.id)">
                <i ng-show="matrixCtrl.isEmployeeInDepartment(employee,department.name)" class="fa fa-check-square-o"></i>
            </td>
        </tr>
    </table>

</de-cf-homework-matrix>


